
<h1>Hello World</h1>
<p>Alguma coisa</p>
<div>
    <a href="#">Clique aqui</a>
</div>
<app-first-component> </app-first-component>
<app-parent-component [name]="userName" [userData]="userData"> </app-parent-component>
<app-directives-component> </app-directives-component>
<app-if-component> </app-if-component>
<app-evento-component> </app-evento-component>
<app-emitter-component> </app-emitter-component>
<app-listrender-component> </app-listrender-component>
<app-pipes-component> </app-pipes-component>




